<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango Says...</h1>
        <div>
            Here is the about page. <br />
            <strong>{{yourname}}</strong> <br />
        </div>
        <div>
            <img src="{{MEDIA_URL}}cat.jpg" alt="picture of a cat."/>
        </div>
        <div>
            <a href="/rango/">Index</a> <br />
            <img src="{% static 'images/rangoPicture.jpg' %}" alt="Picture of rango" /> 
        </div>
    </body>
</html>